argus/trunk/argus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Schema for a ARGUS framework definition file.</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="IncludeTypeDesc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="global"/>
			<xs:enumeration value="local"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValueTypeDesc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Short_t"/>
			<xs:enumeration value="UShort_t"/>
			<xs:enumeration value="Int_t"/>
			<xs:enumeration value="UInt_t"/>
			<xs:enumeration value="Long_t"/>
			<xs:enumeration value="ULong_t"/>
			<xs:enumeration value="Long64_t"/>
			<xs:enumeration value="ULong64_t"/>
			<xs:enumeration value="Float_t"/>
			<xs:enumeration value="Double_t"/>
			<xs:enumeration value="Double32_t"/>
			<xs:enumeration value="Bool_t"/>
			<xs:enumeration value="TString"/>
			<xs:enumeration value="short"/>
			<xs:enumeration value="unsigned short"/>
			<xs:enumeration value="int"/>
			<xs:enumeration value="unsigned int"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="unsigned long"/>
			<xs:enumeration value="long long"/>
			<xs:enumeration value="unsigned long long"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="double"/>
			<xs:enumeration value="bool"/>
			<xs:enumeration value="std::string"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AuthorDesc">
		<xs:annotation>
			<xs:documentation>Description of the author.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="AuthorName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the author.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AuthorInstitute" type="xs:string">
				<xs:annotation>
					<xs:documentation>The authors institute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AuthorCollaboration" type="xs:string">
				<xs:annotation>
					<xs:documentation>The authors collaboration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AuthorEmail" type="xs:string">
				<xs:annotation>
					<xs:documentation>The e-mail of the author.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExperimentDesc">
		<xs:annotation>
			<xs:documentation>Description of the experiment and the framework.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="ExperimentName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the experiment. Not used at the moment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExperimentShortCut" type="xs:string">
				<xs:annotation>
					<xs:documentation>Shortcut for the experiment. The shortcut is used for all class names (like [Shortcut][MyFolder].h for the class file of folder [MyFolder]).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ProgramName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the executable. The executable will be named as  [Shortcut][ProgramName].exe.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="MonitorDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description of the monitor program. It will be displayed in the automatically created html documentation of the framework.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncludeDesc">
		<xs:annotation>
			<xs:documentation>Description of includes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IncludeName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The file name of the include e.g. TString.h.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="global" minOccurs="0" name="IncludeType" type="IncludeTypeDesc">
				<xs:annotation>
					<xs:documentation>The type of the include can be global or local. Local means that the include file is expected to be on the working directory (#include&quot;TString.h&quot;). Global means that the include is searched in the directories specified in the path environment variable (#include&lt;TString.h&gt;).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SteeringParameterFieldDesc">
		<xs:annotation>
			<xs:documentation>Description of steering parameter fields. A steering parameter field represents one steer value.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SPFieldName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the steering parameter field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPFieldType" type="xs:string">
				<xs:annotation>
					<xs:documentation>The type of the steering parameter field. Must be one out of the ValueTypeDesc list or a pointer to any root class.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SPFieldInitialization" type="xs:string">
				<xs:annotation>
					<xs:documentation>The initialisation value of the steering parameter field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SPFieldComment" type="xs:string">
				<xs:annotation>
					<xs:documentation>A comment about the steering parameter field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SteeringParameterGroupDesc">
		<xs:annotation>
			<xs:documentation>Description of steering parameter groups.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SPGroupName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of a steering parameter group.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SteeringParameterField" type="SteeringParameterFieldDesc">
				<xs:annotation>
					<xs:documentation>The fields of this steering parameter group.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SteeringParameterGroup" type="SteeringParameterGroupDesc">
				<xs:annotation>
					<xs:documentation>The sub groups of this steering parameter group.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FieldDesc">
		<xs:annotation>
			<xs:documentation>Description of folder fields.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FieldName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FieldType" type="xs:string">
				<xs:annotation>
					<xs:documentation>The type of the field. Must be one out of the ValueTypeDesc list or a pointer to any root class.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FieldComment" type="xs:string">
				<xs:annotation>
					<xs:documentation>A comment about the field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FieldInitialization" type="xs:string">
				<xs:annotation>
					<xs:documentation>The initialisation value of the field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="1" minOccurs="0" name="ArraySize" type="xs:string">
				<xs:annotation>
					<xs:documentation>The array size of the field. If this value is 1 or not present, then the field is a single value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DataBasePath" type="xs:string">
				<xs:annotation>
					<xs:documentation>Path to the corresponding value inside the data base. Please visit the Database Path Description section in the UsersGuide.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FolderDesc">
		<xs:annotation>
			<xs:documentation>Description of folders.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FolderName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the folder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FolderTitle" type="xs:string">
				<xs:annotation>
					<xs:documentation>The title of the folder. Displayed in the ROOT browser.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="1" minOccurs="0" name="ArraySize" type="xs:string">
				<xs:annotation>
					<xs:documentation>The array size of the folder. If this value is 1 or not present, then the framework creates a single object. If the value is greater than 1 the framework creates a fixed array of objects. If the value equals &apos;variable&apos; the folder array is dynamical, whitch means that only used folders are written to the root files. Folders with data base access can not be &apos;variable&apos;. Folders containing only values, which are not altered every event (like scaler) should also not be &apos;variable&apos;.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="true" minOccurs="0" name="DataBaseAccess" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>If this value is &apos;true&apos;, the fields of this folder are read from the data base at the beginning of each run.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="ROMEDataBase" minOccurs="0" name="ConnectionType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ROMEDataBase"/>
					<xs:enumeration value="ODB"/>
				</xs:restriction>
				<xs:annotation>
					<xs:documentation>If this is &apos;ROMEDataBase&apos;, this folder is reads XML or SQL database in the same way as folders in ROME. If this is &apos;ODB&apos; this folder reads online database of MIDAS. In case of  &apos;ODB&apos; the folder can not be arrayed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="true" minOccurs="0" name="ChangeableClassFile" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>If this value is &apos;true&apos;, the folder will have a class file (.h), that can be modified by the user. Therefore the romebuilder will not overwrite the class file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Author" type="AuthorDesc">
				<xs:annotation>
					<xs:documentation>Describes the auther of this folder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="1" minOccurs="0" name="FolderVersion" type="xs:integer">
				<xs:annotation>
					<xs:documentation>The version of the folder. The version is used for the ROOT dictionary as the ROOT ClassVersionID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FolderDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>The description of the folder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Include" type="IncludeDesc">
				<xs:annotation>
					<xs:documentation>Defines an include, which is added to the folder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Field" type="FieldDesc">
				<xs:annotation>
					<xs:documentation>Defines the fields of this folder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Folder" type="FolderDesc">
				<xs:annotation>
					<xs:documentation>Defines the sub folders of this folder.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ROMEFolderDesc">
		<xs:annotation>
			<xs:documentation>Description of ROME folders.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FolderName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the folder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ROMEProjectPath" type="xs:string">
				<xs:annotation>
					<xs:documentation>Path to the ROME project which have this folder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="1" minOccurs="0" name="ArraySize" type="xs:string">
				<xs:annotation>
					<xs:documentation>The array size of the folder. If this value is 1 or not present, then the framework creates a single object. If the value is greater than 1 the framework creates a fixed array of objects. If the value equals &apos;variable&apos; the folder array is dynamical, whitch means that only used folders are written to the root files. Folders with data base access can not be &apos;variable&apos;. Folders containing only values, which are not altered every event (like scaler) should also not be &apos;variable&apos;.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MenuItemsDesc">
		<xs:annotation>
			<xs:documentation>Description of MenuItems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MenuItem" type="MenuItemDesc">
				<xs:annotation>
					<xs:documentation>Defines the menu item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Menu" type="MenuDesc">
				<xs:annotation>
					<xs:documentation>Defines the menu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Line">
				<xs:annotation>
					<xs:documentation>Put a line.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MenuItemDesc">
		<xs:annotation>
			<xs:documentation>Description of MenuItems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="MenuItemTitle" type="xs:string">
				<xs:annotation>
					<xs:documentation>Title of the menu item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="MenuItemID" type="xs:integer">
				<xs:annotation>
					<xs:documentation>ID of the menu item. This number will be sent to the function MenuClicked of the tab. ID needs to be greater than 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MenuDesc">
		<xs:annotation>
			<xs:documentation>Description of Menu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="MenuTitle" type="xs:string">
				<xs:annotation>
					<xs:documentation>Title of the menu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MenuItems" type="MenuItemsDesc">
				<xs:annotation>
					<xs:documentation>Defines the menu items.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MenusDesc">
		<xs:annotation>
			<xs:documentation>Description of Menus.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Menu" type="MenuDesc">
				<xs:annotation>
					<xs:documentation>Defines a menu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThreadFunctionDesc">
		<xs:annotation>
			<xs:documentation>Description of ThreadFunction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ThreadFunctionName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of a thread function.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThreadFunctionsDesc">
		<xs:annotation>
			<xs:documentation>Description of ThreadFunctions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ThreadFunction" type="ThreadFunctionDesc">
				<xs:annotation>
					<xs:documentation>Defines a thread function.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SteeringParametersDesc">
		<xs:annotation>
			<xs:documentation>Description of steering parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SteeringParameterField" type="SteeringParameterFieldDesc">
				<xs:annotation>
					<xs:documentation>Defines a steering parameter field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SteeringParameterGroup" type="SteeringParameterGroupDesc">
				<xs:annotation>
					<xs:documentation>Defines a steering parameter group.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TabDesc">
		<xs:annotation>
			<xs:documentation>Description of Tabs.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TabName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="true" minOccurs="0" name="ChangeableClassFile" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>If this value is &apos;true&apos;, the Tab will have a class file (.h), that can be modified by the user. Therefore the romebuilder will not overwrite the class file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Author" type="AuthorDesc">
				<xs:annotation>
					<xs:documentation>Defines the auther of the Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TabVersion" type="xs:integer">
				<xs:annotation>
					<xs:documentation>The version of the Tab. The version is used for the ROOT dictionary as the ROOT ClassVersionID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TabDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>The description of the Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Include" type="IncludeDesc">
				<xs:annotation>
					<xs:documentation>Defines an include, which is added to the Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SteeringParameters" type="SteeringParametersDesc">
				<xs:annotation>
					<xs:documentation>Defines the steering parameters of the Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Menus" type="MenusDesc">
				<xs:annotation>
					<xs:documentation>Defines the menus of the Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ThreadFunctions" type="ThreadFunctionsDesc">
				<xs:annotation>
					<xs:documentation>Defines the thread functions of the Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Tab" type="TabDesc">
				<xs:annotation>
					<xs:documentation>Defines a Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
<!-- 
	<xs:complexType name="TabHierarchyDesc">
		<xs:annotation>
			<xs:documentation>Description of a Tab in the Tab hierarchy of the framework.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TabName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the Tab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Tab" type="TabHierarchyDesc">
				<xs:annotation>
					<xs:documentation>Describes a Tab in the Tab hierarchy of the framework.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	-->
	<xs:element name="ARGUSFrameworkDefinition">
		<xs:annotation>
			<xs:documentation>Description of a ARGUS framework.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Experiment" type="ExperimentDesc">
					<xs:annotation>
						<xs:documentation>Describes the experiment and the framework.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="Author" type="AuthorDesc">
					<xs:annotation>
						<xs:documentation>Describes the author of the framework.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Folders">
					<xs:annotation>
						<xs:documentation>Description of all folders of the framework.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Folder" type="FolderDesc">
								<xs:annotation>
									<xs:documentation>Describes a folder of the framework.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Tabs">
					<xs:annotation>
						<xs:documentation>Description of all tabs of the framework.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Tab" type="Tab">
								<xs:annotation>
									<xs:documentation>Describes a task of the framework.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
<!-- 
				<xs:element name="TaskHierarchy" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Description of the task hierarchy of the framework.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Task" type="TaskHierarchyDesc" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Describes a task in the task hierarchy of the framework.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
		-->
				<xs:element minOccurs="0" name="GlobalSteeringParameters">
					<xs:annotation>
						<xs:documentation>Description of the global steering parameters of the framework.</xs:documentation>
						<xs:documentation>Description of the global steering parameters of the framework.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="SteeringParameterField" type="SteeringParameterFieldDesc">
								<xs:annotation>
									<xs:documentation>Describes a global steering parameter field of the framework.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="SteeringParameterGroup" type="SteeringParameterGroupDesc">
								<xs:annotation>
									<xs:documentation>Describes a global steering parameter group of the framework.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
